<div class="game-board-wrapper">
  <div class="game-board">
    <div class="row row-bottom-border">
      <div class="cell cell-right-border">
        <app-cell></app-cell>
      </div>
      <div class="cell cell-right-border">
        <app-cell></app-cell>
      </div>
      <div class="cell">
        <app-cell></app-cell>
      </div>
    </div>
    <div class="row row-bottom-border">
      <div class="cell cell-right-border">
        <app-cell></app-cell>
      </div>
      <div class="cell cell-right-border">
        <app-cell></app-cell>
      </div>
      <div class="cell">
        <app-cell></app-cell>
      </div>
    </div>
    <div class="row">
      <div class="cell cell-right-border">
        <app-cell></app-cell>
      </div>
      <div class="cell cell-right-border">
        <app-cell></app-cell>
      </div>
      <div class="cell">
        <app-cell></app-cell>
      </div>
    </div>
  </div>
</div>